<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

      <form action="" class="my-5">
        <div class="container-fluid">
             <div class="d-flex justify-content-between ">
               <div>
                 <input type="text" class="form-control field shadow-effect" placeholder="Your name">
               </div>

               <div>
                 <input type="email" class="form-control field shadow-effect" placeholder="Email Address">
               </div>

               <div>
                 <button class="btn-theme">SUBSCRIPTION</button>
               </div>
             </div>
        </div>

      </form>
    </div>
  </div>
</div>
