@import "../../../colors";



.site-logo{
  padding: 1vh 2vh;
  border-radius: 2vh;
  background-color: $secondary;
  color: $primary;
  font-size: 1.5rem;
}



.center {
  //position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}


.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}



.menu{
  cursor: pointer;
  margin-top: 1vh;
}
