<div class="card my-5 pb-5 shadow-effect">
 <div class="card-body">
   <h4 class="my-3">Comments (15,267)</h4>

   <div class="comment-box mt-3 shadow-effect">
     <h6 class="mb-0"> John Doe</h6>
     <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>

     <div class="my-3">
       Pink, White, and Red Heart Stone Lot Pink. Pink, White, and Red Heart Stone Lot Pink. Pink, White, and Red Heart Stone Lot Pink
     </div>

     <a class="mt-5"> Reply </a>
     <a class="m-4"> View Reply </a>

   </div>

   <div class="comment-box mt-3 shadow-effect">
     <h6 class="mb-0"> John Doe</h6>
     <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>

     <div class="my-3">
       Pink, White, and Red Heart Stone Lot Pink. Pink, White, and Red Heart Stone Lot Pink. Pink, White, and Red Heart Stone Lot Pink
     </div>

     <a class="mt-5"> Reply </a>
     <a class="m-4"> View Reply </a>

   </div>

   <div class="comment-box mt-3 shadow-effect">
     <h6 class="mb-0"> John Doe</h6>
     <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>

     <div class="my-3">
       Pink, White, and Red Heart Stone Lot Pink. Pink, White, and Red Heart Stone Lot Pink. Pink, White, and Red Heart Stone Lot Pink
     </div>

     <a class="mt-5"> Reply </a>
     <a class="m-4"> View Reply </a>

   </div>
 </div>
</div>
