<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img src="{{postData.postImgPath}}" alt="img">
        <div class="card-body shadow-effect">
          <div class="card-body">
            <small class="bg-light text-danger mx-1"> {{postData.category.category}} </small>
            <small class="bg-light text-success mx-1" > Featured </small>
            <small class="bg-light text-info mx-1"> Views - {{postData.views}} </small>
            <small class="bg-light text-warning mx-1"> LAST UPDATED - {{postData.createdAt.toMillis() | date}} </small>

            <h1 class="my-3">{{postData.title}}</h1>
            <p [innerHTML]="postData.content"></p>
          </div>
        </div>

        <app-comment-form></app-comment-form>
        <app-comment-list></app-comment-list>

      </div>
    </div>
    <div class="col-md-3">

      <div class="mb-2" *ngFor="let similarPost of similarPostsArray">
        <app-post-card [postData] = 'similarPost'></app-post-card>
      </div>

    </div>
  </div>
</div>
