<mat-sidenav-container fullscreen>

  <mat-sidenav class="mt-3" [ngClass]="mobile ? 'mobileSideNav': 'sidenav'" #sidenav role="navigation" mode="side" [opened]="sidenavLayout">

    <div *ngFor="let category of categoryArray">
      <div class="category"  (click)="sidenav.toggle()" [routerLink]="['/category', category.data.category, category.id]">
        {{category.data.category}}
        <span class="material-symbols-outlined arrow">
                           chevron_right
        </span>
      </div>

    </div>

  </mat-sidenav>

  <mat-sidenav-content class="mt-3">

    <div>
      <router-outlet></router-outlet>
    </div>

    <div class="container my-5">
      <app-subscription-form></app-subscription-form>
    </div>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
