<div class="card shadow-effect">
  <img src="https://images.pexels.com/photos/842682/pexels-photo-842682.jpeg?cs=srgb&dl=pexels-alexander-grey-842682.jpg&fm=jpg"
       alt="post-image"
       class="card-img-top">

  <div class="card-body">
    <small class="bg-light text-danger">Design</small>
    <small class="bg-light text-danger m-1">Featured</small>
    <small class="bg-light text-danger">Views - 100,256</small>

    <h5 class="mt-1">HOW TO DO THIS</h5>

    <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 01, 2022</small>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic of Letraset s</p>
  </div>
</div>

